/MVC4+EF5+EasyUI+Unity/App.Extensions/obj/
/MVC4+EF5+EasyUI+Unity/App.IBLL/bin/
/MVC4+EF5+EasyUI+Unity/App.Extensions/bin/
/MVC4+EF5+EasyUI+Unity/MVC4+EF5+EasyUI+Unity.Tests/bin/
/MVC4+EF5+EasyUI+Unity/MVC4+EF5+EasyUI+Unity/bin/
/MVC4+EF5+EasyUI+Unity/App.Core/bin/
/MVC4+EF5+EasyUI+Unity/App.BLL/bin/
/MVC4+EF5+EasyUI+Unity/MVC4+EF5+EasyUI+Unity/bin/
/MVC4+EF5+EasyUI+Unity/Extensions/obj/
/MVC4+EF5+EasyUI+Unity/App.BLL/bin/Debug/
/MVC4+EF5+EasyUI+Unity/App.BLL/obj/Debug
/MVC4+EF5+EasyUI+Unity/App.Common/bin/Debug
Debug
