/MVC4+EF5+EasyUI+Unity/App.Extensions/obj/
/MVC4+EF5+EasyUI+Unity/App.IBLL/bin/
/MVC4+EF5+EasyUI+Unity/App.Extensions/bin/
/MVC4+EF5+EasyUI+Unity/MVC4+EF5+EasyUI+Unity.Tests/bin/
/MVC4+EF5+EasyUI+Unity/MVC4+EF5+EasyUI+Unity/bin/
/MVC4+EF5+EasyUI+Unity/App.Core/bin/
/MVC4+EF5+EasyUI+Unity/App.BLL/bin/
/MVC4+EF5+EasyUI+Unity/MVC4+EF5+EasyUI+Unity/bin/
/MVC4+EF5+EasyUI+Unity/Extensions/obj/
/MVC4+EF5+EasyUI+Unity/App.BLL/bin/Debug/
/MVC4+EF5+EasyUI+Unity/App.BLL/obj/Debug
/MVC4+EF5+EasyUI+Unity/App.Common/bin/Debug
Debug
/MVC4+EF5+EasyUI+Unity/packages/log4net.2.0.5/lib/net10-full/*.dll
/MVC4+EF5+EasyUI+Unity/packages/log4net.2.0.5/lib/net10-full/*.xml
/MVC4+EF5+EasyUI+Unity/packages/log4net.2.0.5/lib/net11-full/*.dll
/MVC4+EF5+EasyUI+Unity/packages/log4net.2.0.5/lib/net11-full/*.xml
/MVC4+EF5+EasyUI+Unity/packages/log4net.2.0.5/lib/net20-full/*.dll
/MVC4+EF5+EasyUI+Unity/packages/log4net.2.0.5/lib/net20-full/*.xml
/MVC4+EF5+EasyUI+Unity/packages/log4net.2.0.5/lib/net35-client/*.dll
/MVC4+EF5+EasyUI+Unity/packages/log4net.2.0.5/lib/net35-client/*.xml
/MVC4+EF5+EasyUI+Unity/packages/log4net.2.0.5/lib/net35-full/*.dll
/MVC4+EF5+EasyUI+Unity/packages/log4net.2.0.5/lib/net35-full/*.xml
/MVC4+EF5+EasyUI+Unity/packages/log4net.2.0.5/lib/net40-client/*.dll
/MVC4+EF5+EasyUI+Unity/packages/log4net.2.0.5/lib/net40-client/*.xml
/MVC4+EF5+EasyUI+Unity/packages/log4net.2.0.5/lib/net40-full/*.dll
/MVC4+EF5+EasyUI+Unity/packages/log4net.2.0.5/lib/net40-full/*.xml
/MVC4+EF5+EasyUI+Unity/packages/log4net.2.0.5/lib/net45-full/*.dll
/MVC4+EF5+EasyUI+Unity/packages/log4net.2.0.5/lib/net45-full/*.xml
/MVC4+EF5+EasyUI+Unity/packages/log4net.2.0.5/*.nupkg
/CodeFirstNewDatabaseSample/CodeFirstNewDatabaseSample/bin/
/MVC5 + EF 6 + Bootstrap 2 QuickRMS
/npoi-79962
/Study.System.Diagnostics
/System.Extensions
/VistorPattern
/System.Extensions.zip
/MVC5 + EF 6 + Bootstrap 2 QuickRMS.zip
/npoi-79962.zip
/DesignPattern/packages/Newtonsoft.Json.9.0.1/lib/net20
/DesignPattern/packages/Newtonsoft.Json.9.0.1
/RuanMei/packages/Newtonsoft.Json.4.5.11/lib/net35
