<!DOCTYPE html>
<html ng-app>
<head>
<title>Simple app</title>
<script
src="F:\MyProjects\study\TestAngularJS\angular.js\angular.min.js">
</script>
</head>
<body>
<div>
	<label for="uid">Your UID</label>
	<input id="uid" ng-model="user.uid" type="text" placeholder="Your UID">
</div>
<div>
	<label for="password">Your password</label>
	<input id="password" ng-model="user.password" type="password" placeholder="password">
</div>
<h1>your UID: {{ user.uid }}</h1>
<h1>your password: {{ user.password }}</h1>
</body>
</html>