@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>路径无效</title>
</head>
<body>
    <div>
        请求路径无效！请与管理员联系！
    </div>
</body>
</html>
