<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="swerpEntities" connectionString="data source=.;initial catalog=swerp;user id=sa;password=sa@2008;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>