@model List<App.Models.SysSample>

@{
    ViewBag.Title = "桌面";
    Layout = "~/Views/Shared/Main.cshtml";  
}

<table id="List"></table>
<script type="text/javascript">
    $(function () {
        $('#List').datagrid({
            methord: 'post',
            url: '/Home/GetList',
            fit: true,
            border: true,
            fitColumns: true,
            idField: 'Id',
            sortName: 'Id',
            sortOrder: 'desc',
            remoteSort:true,
            striped: true, //奇偶行是否区分
            singleSelect: false,//单选模式
            rownumbers: true,//行号
            columns: [[
                { field: 'Id', title: 'ID', width: 80, sortable: true },
                { field: 'Name', title: '名称', width: 120, sortable: true },
                { field: 'Age', title: '年龄', width: 80, align: 'right', sortable: true },
                { field: 'Bir', title: '生日', width: 80, align: 'right', sortable: true },
                { field: 'Photo', title: '照片', width: 250, sortable: true },
                { field: 'Note', title: '说明', width: 60, align: 'center', sortable: true },
                { field: 'CreateTime', title: '创建时间', width: 60, align: 'center', sortable: true }
            ]]
        });
    });
</script>