<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="StudentServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:35423/StudentService.asmx"
                binding="basicHttpBinding" bindingConfiguration="StudentServiceSoap"
                contract="WebService.StudentServiceSoap" name="StudentServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>